@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800,800i');
$open: 'Open Sans',
sans-serif;
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #171754;
    padding:10px;
}

h1 {
    font-family: $open;
    font-size: 25px;
    font-weigth: 700;
    color: white;
}

button {
    border: 3px rgb(70, 216, 253);
    border-radius: 1px;
    background-color: white;
    color: rgb(253, 70, 101);
    text-decoration: none;
    font-family: $open;
    font-size: 15px;
    padding: 5px;
}

section {
    padding:10px;
    background-color: rgb(249, 254, 255);
    #cont {
        h2 {
            font-family: $open;
            font-size: 18px;
            font-weigth: 400;
            color: #171754;
        }
    }
}